.loader_size {

    &-l {
        width: 60px;
        height: 60px;
        border: 6px solid #518581;
        border-bottom-color: #FFF;
        border-radius: 50%;
        display: inline-block;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
    }

    &-m {
        width: 40px;
        height: 40px;
        border: 4.5px solid #518581;
        border-bottom-color: #FFF;
        border-radius: 50%;
        display: inline-block;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
    }

    &-s {
        width: 20px;
        height: 20px;
        border: 3px solid #518581;
        border-bottom-color: #FFF;
        border-radius: 50%;
        display: inline-block;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

}